<html>
    <head>
        <title>Home</title>
    </head>
    <body>
        <p>User: {{.user.Name }}</p>
        <p>Last login: {{.user.LastLogin }}</p>
        <p><a href="/users">users</a></p>
        <p><a href="/gists">gists</a></p>
        <p><a href="/gists/latest">latest gists</a></p>
        <form action="/logout" method="POST">
            <input type="submit" value="logout"/>
        </form>
    </body>
</html>